.blog-box {
  width: 900px;
  min-height: 550px;
  background: rgba(0, 0, 0, 0.55);
  padding: 40px;
  border-radius: 18px;
  backdrop-filter: blur(7px);
  box-shadow: 0px 6px 30px rgba(0,0,0,0.55);
  border: 2px solid rgba(255, 193, 7, 0.4);
}


.blog-carousel .carousel-inner {
  height: 330px;
  padding: 30px;
  overflow: hidden;
}


.blog-carousel article {
  height: 100%;
  overflow-y: auto;
}


.blog-carousel .carousel-control-prev-icon,
.blog-carousel .carousel-control-next-icon {
  filter: brightness(0) invert(1);
}


.blog-carousel article::-webkit-scrollbar {
  width: 7px;
}
.blog-carousel article::-webkit-scrollbar-thumb {
  background: rgba(255, 193, 7, 0.85);
  border-radius: 4px;
}

.blog-carousel .carousel-control-prev,
.blog-carousel .carousel-control-next {
  width: 50px; 
}

.blog-carousel .carousel-control-prev {
  left: -55px; 
}

.blog-carousel .carousel-control-next {
  right: -55px; 
}

.blog-carousel article {
  text-align: justify;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

