.home-container {
  margin-top: 120px;
}

.home-footer i {
  margin: 0 6px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.home-footer i:hover {
  color: gold;
  transform: scale(1.2);
}

